



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




navbar{
  position: relative;
  width: 100%;
  
}

footer {
  width: 100%;
  color: gray;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
}

@media (min-width: 600px) {

  footer{
    position: fixed;
  }

 
}

